__pycache__
.pytest_cache
format.sh
tests/test_files/test2.zarr
data
Dev.ipynb
Dev-checkpoint.ipynb
.ipynb_checkpoints
.DS_Store
docs/notebooks/Interactivity.py
docs/notebooks/.ipynb_checkpoints
*.egg-info/
*.egg
dist/
build/
